#user-home-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1rem;
    height: 90%;
}

#home-logo {
    min-width: 150px;
    max-width: 400px;
}

#user-home-container > div {
    width: 70%;
    height: 50%;
}

#home-user-stats {
    display: flex;
    flex-flow: column nowrap;
    justify-content: safe space-evenly;
    align-items: safe center;
    border: 1px solid black; 
    height: 100%;
    border-radius: 1rem;
    box-shadow: 1px 1px;
    overflow: auto;
}

#home-user-stats > div {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
}

#home-quote {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 125%;
    font-style: italic;
    background-color: rgba(200, 166, 255, 0.514);
    border-radius: 15px;
    box-shadow: 0.5px 0.5px;
}

#user-home-btn {
    max-width: 25%;
    min-width: fit-content;
}

@media screen and (max-width: 1100px) {
    #home-logo {
        width: 15%;
        margin: 0;
    }
}

@media screen and (max-width: 950px) {
    #home-user-stats > * {
        flex-direction: column;
    }
}