#register-container {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
}

#register-box {
  margin-left: 2.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 1px 1px;
}

.logo-background { 
  margin-right: 2.5rem;
  min-width: 150px;
  max-width: 400px;
}

.register-input {
    width: auto !important;
}

@media screen and (max-width: 1100px) {
  #register-container {
    flex-direction: column;
  } 
  
  #register-box {
    margin: 0;
  }

  .logo-background {
    width: 15%;
    margin: 0;
  }
}
