#user-daily-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1rem;
}

#user-daily-logo {
    max-width: 10%;
}

#user-daily-stats-container {
    margin-top: 1rem;
}

#user-daily-tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#user-daily-tables {
    text-align: center;
}


#user-daily-tables > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meal-table {
    display: flex;
    flex-flow: column nowrap;
    width: 45%;
    margin-top: 1rem;
}