/*! DEFAULT STYLES */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
  }
  
  @media screen and (min-width: 700px) {
    #root {
      background-color: rgba(182, 182, 182, 0.616);
      background-repeat: no-repeat;
      background-size: cover;
    }    
    #root > main {
      width: 80%;
    }
  }
  
  #root > main {
    height: 92.15%;
    background-color: white;
  }
  
  #header-component {
    width: 100%;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/** UTILITY STYLES **/

#nav-brand {
  font-size: 2rem;
}

.ml-2 {
  margin-left: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-4 {
  margin-right: 4px;
}

.w-full {
  width: 50%;
}

.nav-item {
  margin: 0 1rem;
}

.white {
  color: white;
}

.hidden {
  display: none;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}